<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--activo viewport para vista en multiples dispositivos/resoluciones-->
    <link href="/css/master.css" rel="stylesheet"> <!--link a hoja de estilos CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> 
    <script src="https://kit.fontawesome.com/e8b2f93229.js" crossorigin="anonymous"></script>
<!--Conectamos servicio iconos FontAwesome-->
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--Conectamos con servicio Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    <header class="header">

    <div class="header-top-bar">
        <a href="/">
            <img src="./images/logo-mercado-liebre.svg" class="logo">
        </a>

        <!--<div >Buscar productos, marcas y otros...</div>
        Convierto la barra de busqueda en un FORM-->

        <form action="/" method="GET">
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos...">
                <div class="lupa"><i class="fas fa-search"></i></div>
            </div>
        </form>

        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div> 
    </header>         

    <h2 class="title-main">Basado en la última visita</h2>
    <main>
        <section class="main">
        
            <article class="producto">
                <img src='./images/img-cafetera-moulinex.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img src='./images/img-macbook-pro-2019.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="nombre-producto">Macbook Pro 2019</p>
                </div>
            </article>

            <article class="producto">
                <img src='./images/img-samsung-galaxy-s10.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p>$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="nombre-producto">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="producto">
                <img src='./images/img-tv-samsung-smart.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p>$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="nombre-producto">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    
        <h2 class="title-offers">Ofertas</h2>
        <section class="ofertas"> <!--Seccion Ofertas en el Home, repite Articles de Seccion Main-->
        
            <article class="producto">
                <img src='./images/img-cafetera-moulinex.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img src='./images/img-macbook-pro-2019.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="nombre-producto">Macbook Pro 2019</p>
                </div>
            </article>

            <article class="producto">
                <img src='./images/img-samsung-galaxy-s10.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p>$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="nombre-producto">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="producto">
                <img src='./images/img-tv-samsung-smart.jpg' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-truck"></i>
                    <p>$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="nombre-producto">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <section class="footer">
        <ul class="condiciones">
            <li><i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li><i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li><i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.                    
                </p>
            </li>
        </ul>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>

    <!-- Formulario de ejercicio PlayGround

    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Precio del producto:</label>
            <input type="number" name="precio" placeholder="123.56" class="control">
        </div>
        <div class="control-formulario">
            <label>Categoria:</label>
            <select name="categoria">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad:</label>
            <select name="ciudad">
                <option value="ros">Rosario</option>
                <option value="bas">Buenos Aires</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripción:</label>
            <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en oferta?</label>
            <input type="radio" name="enOferta">
        </div>
        <button type="reset" class="form-button">Borrar</button>
        <button type="submit" class="form-button">Guardar</button>
    </form>

    -->

</body>
</html>