<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--activo viewport para vista en multiples dispositivos/resoluciones-->
    <link href="/css/master.css" rel="stylesheet"> <!--link a hoja de estilos CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!--Conectamos servicio iconos FontAwesome-->
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--Conectamos con servicio Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    <section>
        <img src="./images/logo-mercado-liebre.svg">
        <div class="search-bar">Buscar productos, marcas y otros...</div>
        <div class="lupa"><i class="fas fa-search"></i></div>
        <div class="slogan"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Creá tu cuenta <i class="far fa-address-card"></i></li>
            <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </section>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>          
    <section class="main">
        <h2>Basado en la última visita</h2>
        <article class="articulo">
            <div class="producto">
                <img src='./images/img-cafetera-moulinex.jpg' style='height:100%; width:100%; object-fit: contain';>
                <div class="producto-description">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </div>
        </article>
        <article class="articulo">
            <div class="producto">
                <img src='./images/img-macbook-pro-2019.jpg' style='height:100%; width:100%; object-fit: contain';>
                <div class="producto-description">
                    <p>$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4>Macbook Pro 2019</h4>
                </div>
            </div>
        </article>
        <article class="articulo">
            <img src='./images/img-samsung-galaxy-s10.jpg' style='height:100%; width:100%; object-fit: contain';>
            <p>$70.500</p>
            <p class="descuento">10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article class="tarjeta-producto">
            <img src='./images/img-tv-samsung-smart.jpg' style='height:100%; width:100%; object-fit: contain';>
            <p>$23.200</p>
            <p class="descuento">5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>
    <section class="ofertas">
        <h2>Sección de Ofertas</h2>
        <article class="tarjeta-producto">
            <img src='./images/img-cafetera-moulinex.jpg' style='height:100%; width:100%; object-fit: contain';>
            <p>$6.770</p>
            <p class="descuento">40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article class="tarjeta-producto">
            <img src='./images/img-macbook-pro-2019.jpg' style='height:100%; width:100%; object-fit: contain';>
            <p>$230.000</p>
            <p class="descuento">20% OFF</p>
            <h4>Macbook h4ro 2019</h4>
        </article>
        <article class="tarjeta-producto">
            <img src='./images/img-samsung-galaxy-s10.jpg' style='height:100%; width:100%; object-fit: contain';>
            <p>$70.500</p>
            <p class="descuento">10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article class="tarjeta-producto">
            <img src='./images/img-tv-samsung-smart.jpg' style='height:100%; width:100%; object-fit: contain';>
            <p>$23.200</p>
            <p class="descuento">5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>
    <section class="footer">
        <ul class="condiciones">
            <li><i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li><i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li><i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.                    
                </p>
            </li>
            <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
        </ul>
    </section>
</body>
</html>