<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--activo viewport para vista en multiples dispositivos/resoluciones-->
    <link href="/css/master.css" rel="stylesheet"> <!--link a hoja de estilos CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> 
    <script src="https://kit.fontawesome.com/e8b2f93229.js" crossorigin="anonymous"></script>
<!--Conectamos servicio iconos FontAwesome-->
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--Conectamos con servicio Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Bienvenido a Mercado Liebre</title>
</head>
<body>
    <header class="header">

    <div class="header-top-bar">
        <img src="./images/logo-mercado-liebre.svg" class="logo">

        <!--<div >Buscar productos, marcas y otros...</div>
        Convierto la barra de busqueda en un FORM-->

        <form action="/" method="GET">
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos...">
                <div class="lupa"><i class="fas fa-search"></i></div>
            </div>
        </form>

        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div> 
    </header>
    
    
    <h2 class="title-main">Formulario de Registro</h2>
    <main class="main-form">
        <form action="/" method="GET" class="register-form">
            <div class="control-formulario">
                <label></label>
                <input type="text" name="name" placeholder="Nombre y Apellido" required>
            </div>
            <div class="control-formulario">
                <label></label>
                <input type="text" name="user-name" placeholder="Nombre de Usuario" required>
            </div>
            <div class="control-formulario">
                <label>Fecha de Nacimiento:</label>
                <input type="date" name="birthday" min="1900-01-01" required>
            </div>
            <div class="control-formulario">
                <label></label>
                <input type="text" name="address" placeholder="Domicilio" required>
            </div>
            <div class="control-formulario">
                <label>Perfil de Usuario:</label>
                <input type="radio" name="profile" value="comprador">Comprador
                <input type="radio" name="profile" value="vendedor">Vendedor
            </div>
            <div class="control-formulario">
                <label>Categorías de interés:</label>
                <input type="checkbox" name="interest" value="Electro">Electro
                <input type="checkbox" name="interest" value="Moda">Moda
                <input type="checkbox" name="interest" value="Hogar">Hogar
                <input type="checkbox" name="interest" value="Juguetería">Juguetería
                <input type="checkbox" name="interest" value="Visa Sana">Vida Sana
            </div>
            <div class="control-formulario">
                <label>Foto de Usuario:</label>
                <input type="file" name="profile-photo" class="user-photo">
            </div>
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="password" required>
            </div>
            <div class="control-formulario">
                <label>Confirmar contraseña:</label>
                <input type="password" name="password-confirm" required>
            </div>
            <button type="reset" class="form-button">Borrar</button>
            <button type="submit" href="/" class="form-button">Enviar</button>
        </form>
    </main>
    <section class="footer">
        <ul class="condiciones">
            <li><i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li><i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li><i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.                    
                </p>
            </li>
            <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
        </ul>
    </section>
</body>