/*Regla universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilos del cuerpo*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: auto;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Estilos del header*/

.header {
    background-color: #EAC926;
    padding: 20px;
}

.logo {
    width: 100px;
}

/*Estilos de la barra de busqueda*/
.search-bar {
    background-color: #EAC926;
    display: inline; /*cambio de block a inline*/
    border-radius: 2px;
    padding: 1px;
    font-size: 12px;
    color: grey; 
    border-color: #666;
    border-width: 1px;
    position: relative;
}

.search-bar input {
    height: 20px;
    border-radius: 5px;
    font-style: italic;
    border: white;
}

.lupa {
    background-color: white;
    display: inline;
    font-size: 12px;
    padding: 1px;
    border-radius: 5px;
    color: grey;
    position: absolute;
    right: 5px;
    border: none;
}

.header-top-bar {
    align-items: center; /*centro la search bar*/
}

/*Estilo del Slogan principal*/
.copy-header {
    margin: 20px;
    text-align: center;
    font-size: 12px;
}

/*Estilos de Navbar*/
.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style-type: none; /*elimino los bullet points*/
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: darkblue;
    font-size: 17px;
    display: inline-block;
    padding: 5px 0;
    font-weight: bold;
}

.right-navbar i {
    display: inline-block;
    padding: 5px;
}

/*Estilos del Menu Hamburguesa"*/
.burger-menu {
    text-align: center;
}

.burger-menu i {
    padding:20px;
    border-radius: 10px;
    background-color: #1259c3;
    color: white;
}

/*Estilos de Titulares Main y Offers*/

.title-main, .title-offers {
    background-color: #ebebeb;
    text-align: center;
    margin: 0;
    padding: 15px;
    width: 100%;
}

/*Estilos de sección Home-Main*/

.main {
    background-color: #ebebeb;
    text-align: center;
    margin: 0;
    padding: 15px;
    width: 100%;
}

/*estilos de tarjeta de productos*/

.producto {
    background-color: #ebebeb;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    margin: auto;
    padding: 1px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.producto-descripcion {
    background-color: white;
    text-align: left;
    margin-top: 1px;
    padding: 5%;
    position: relative;
    width: 100%;
}

/*estilos del camioncito de delivery:
https://dzone.com/articles/css-position-relative-vs-position-absolute#:~:text=Relative%20%2D%20the%20element%20is%20positioned,on%20the%20user's%20scroll%20position.*/


.producto-descripcion i {
        color: green;
        border: 1px solid #39b54a;
        padding: 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 16px;
        right: 20px;
        top: -15px;
        text-align: center;
        background-color: white;
        position: absolute;
}

/*Estilos de seccion Home-Ofertas*/
.ofertas {
    background-color: #ebebeb;
    text-align: center;
    margin: 0;
    padding: 15px;
    position: relative;
    width: 100%;
}

article {
    background-color: #EBEBEB;
}

section h2 {
    font-size: 24px;
}

article p {
    font-size: 18px;
}

.descuento {
    color: green;
    font-weight: bold;
    margin-top: 2px;
    font-size: 16px;
    width: 70%;
}

.nombre-producto{
    font-size: 12px;
    font-weight: bold;
    display: none;
}

/*Estilos del Form*/

.create-form{
    padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;
}

.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px 8px;
}

.form-button{
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/*Estilos de seccion Footer*/
.footer {
    position: relative;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    bottom: 0;
    height: auto;
}

/*estilos de iconos .fas .far en footer*/
.footer .condiciones li i  { 
    font-size: 2em;
    color: #1259c3;
}

.condiciones {
    list-style: none;
    text-align: center;
    
}

ul.condiciones {
    list-style-type: none;
    padding-left: 0%;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*Breakpoints para vistas en multiples dispositivos*/

@media (min-width: 460px){
    /*TABLETS*/
    /*Config Top Bar*/
    .header-top-bar {
    display: flex;
    justify-content: space-between;
    }

    .copy-header {
        max-width: 200px;
        text-align: right;
        font-size: 14px;
    }
    /*agrando logo para vista Tablet*/
    .logo {
        width: 150px;
    }

    /*Muestro la NAVBAR*/
    .main-navbar {
        display: flex;
        justify-content: space-between;   
        font-size: 14px;
    }

    .main-navbar ul {
        display: flex
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .main-navbar ul li a {
        font-size: 12px;
    }

    .search-bar{
        align-self: center;
    }

    .lupa{
        max-height: 20px;
        align-self: center;
    }


    /*Escondo el menu de hamburguesa*/
    .burger-menu {
        display: none;
    }

    /*Muestro la descripcion del producto*/
    .nombre-producto {
        display:block;
    }

    .main{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .ofertas{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .producto {
        max-width: 45%;
    }
}

@media (min-width: 768px) {
    /*DESKTOP*/
    /*Config Top Bar*/
    .header-top-bar {
        display: flex;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 200px;
        text-align: right;
    }
    /*agrando logo para vista PC*/
    .logo {
        width: 200px;
    }

    /*Muesto la NAVBAR*/
    .main-navbar {
        display: flex;
        justify-content: space-between;   
    }

    .main-navbar ul {
        display: flex
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .search-bar{
        max-height: 20px;
        align-self: center;
    }

    .lupa{
        max-height: 20px;
        align-self: center;
    }

    /*Escondo el menu de hamburguesa*/
    .burger-menu {
        display: none;
    }

    /*Ajuto width para que que se vean 4 flex items en pantalla*/
    .producto {
        max-width: 23%;
    }
}

/*agrego limites para que no crezcan el menu por encima de 1200 px*/
@media (min-width: 1200px){
    .header-top-bar, .main-navbar {
        max-width: 1200px;
        /*border: dotted red 10px;*/
        margin: auto;
    }

    .copy-header{
        max-width: none;
    }

    .main-navbar {
        font-size: 20px;
        margin-top: 40px;
    }

    .main-navbar li {
        margin: 0 10px;
    }
}